#push-container 

  = render 'shared/header'

  %section#page.dark-bg
    .container
      = render 'shared/sidebar_bookview', novel_articles: @novel_articles, novel: @novel, article_id: @article.id
      %section.right-wrapper.full.col-xs-12.col-sm-10
        %ol.breadcrumb.row.full
          %li
            %a{:href => "/"} 首頁
          %li
            %a{:href => "/"} 小說列表分類
          %li
            %a{:href => "/"} 小說詳細頁
          %li.active
            %a{:href => "/"} 小說第一章
        .content
          .book-view
            .book-view_tool-bar
              %button.btn.btn-info.btn-sm(type="button")
                %i.fa.fa-star-o.fa-fw
                收藏
              %button.btn.btn-primary.btn-sm(type="button")
                %i.fa.fa-bars.fa-fw
                目錄
              %button.btn.btn-default.btn-sm(type="button") 
                %i.fa.fa-long-arrow-left
                上一頁
              %button.btn.btn-default.btn-sm(type="button") 
                下一頁
                %i.fa.fa-long-arrow-right
            .bool-view_header.text-center
              %h2.title.book-title 書名：影子殺手
              %h3.title.section_title 第一章 影子
            %p 便生這愛育的，如漸病各友父小的點候小麗物很險業後馬不有車理這賽化他玩年美長工完研，可老過，異還也色上於錯定後天克中選建視輪性倒際著到太近商的帶動面不男精聽看、以製孩我指去媽終馬就問病角似是一媽，興下與手；時景好小實，歡因拉要時上特些：度更國為古好和服此所死先寶對、師人樂水成國頭國坡多。計不眼賽景來天應從然機所爸學太隨專轉人結有些受世麼。會家眼氣會想安？朋母光早上中。當明速於路查真習，開洲小。
            %p 立策不種著來她從這這司遠旅都一建，病聲該發目歡得紅西乎身投國：再時頭去西，走四開士需灣風眼告及區上的車如通和型者世洋公打的且去我，日美劇最
            %p 啶一郈脙萏腶亍覝鮀丱，堇丌柦莃媔蛸丌榥丮刌。圠缹狋逑洨鸆瑊筳伬艿娀芓衩侕妧瘃乇狖慛葅。勼砩咇桷厙蠷暊滁奷汜垙忺岰芡囧瘃乜侘褖塱。傝沷奾疀瑏縌伬一幄淔瓟迓仜俬亍，趔臦丌抴恄綔狑刉亍玠廗峌殳戔。丮悝岟盓姝驞鉒筡旯伀苤妏剆妲帊隑兀孢劀楬。卬珒欥眯珂醾鄖楎妅扙牳佖坫彔氙楁丌妺槊煍。勼胹泧圊帡鷾煘葺屼襾哖杈芡佶忣搹屮坰榵葟。詘呿巟褵稗壉阢一菘陱烞盳圣殄乜，嗂猵屮迋牊蒆怢卌丌牬麧拻巿迍。
            %p 傕芛妅篣楏黺忕一揓酕茿炅卌珌乜，暌蛑乜劼柂瑍枒汃屮呺蒻挃尐糽。缿沀吇踽艄璚汒一揨脬胵狚肊牰乜，粲萆亍佹哏嵷抶氿丌迓屣挔勼杬。惎枅艸殫蛵噭襾一菝釷捔芴忉茌丌，裼椏乜迓洀罬帔仡兀怬蝃拫冘枆。紶一洒涽軥葀兀牓篟圠，莣乇柭悆揄痷亍斠夬戉。巿栳杶婒衵醾慉亃网汜峇沇坰冞杙筣丌怓駂睔。頇秅弚螣筣蕖忕一痡偣趵妽刌俇屮，瘏窙丌坻陎楑虮仡乇沷蓛庢圠岥。窔一恞紾棽魛亍榰縜丮，逑丌姺陭堭痶屮撦厹庀。殗曶阢錔馯橕孖一鈌盓圂岥氕疪乇，鄐棔乜玭胘葹苀犮亍帙綷玴毌姃。
            %p 便生這愛育的，如漸病各友父小的點候小麗物很險業後馬不有車理這賽化他玩年美長工完研，可老過，異還也色上於錯定後天克中選建視輪性倒際著到太近商的帶動面不男精聽看、以製孩我指去媽終馬就問病角似是一媽，興下與手；時景好小實，歡因拉要時上特些：度更國為古好和服此所死先寶對、師人樂水成國頭國坡多。計不眼賽景來天應從然機所爸學太隨專轉人結有些受世麼。會家眼氣會想安？朋母光早上中。當明速於路查真習，開洲小。
            %p 立策不種著來她從這這司遠旅都一建，病聲該發目歡得紅西乎身投國：再時頭去西，走四開士需灣風眼告及區上的車如通和型者世洋公打的且去我，日美劇最
            %p 啶一郈脙萏腶亍覝鮀丱，堇丌柦莃媔蛸丌榥丮刌。圠缹狋逑洨鸆瑊筳伬艿娀芓衩侕妧瘃乇狖慛葅。勼砩咇桷厙蠷暊滁奷汜垙忺岰芡囧瘃乜侘褖塱。傝沷奾疀瑏縌伬一幄淔瓟迓仜俬亍，趔臦丌抴恄綔狑刉亍玠廗峌殳戔。丮悝岟盓姝驞鉒筡旯伀苤妏剆妲帊隑兀孢劀楬。卬珒欥眯珂醾鄖楎妅扙牳佖坫彔氙楁丌妺槊煍。勼胹泧圊帡鷾煘葺屼襾哖杈芡佶忣搹屮坰榵葟。詘呿巟褵稗壉阢一菘陱烞盳圣殄乜，嗂猵屮迋牊蒆怢卌丌牬麧拻巿迍。
            %p 傕芛妅篣楏黺忕一揓酕茿炅卌珌乜，暌蛑乜劼柂瑍枒汃屮呺蒻挃尐糽。缿沀吇踽艄璚汒一揨脬胵狚肊牰乜，粲萆亍佹哏嵷抶氿丌迓屣挔勼杬。惎枅艸殫蛵噭襾一菝釷捔芴忉茌丌，裼椏乜迓洀罬帔仡兀怬蝃拫冘枆。紶一洒涽軥葀兀牓篟圠，莣乇柭悆揄痷亍斠夬戉。巿栳杶婒衵醾慉亃网汜峇沇坰冞杙筣丌怓駂睔。頇秅弚螣筣蕖忕一痡偣趵妽刌俇屮，瘏窙丌坻陎楑虮仡乇沷蓛庢圠岥。窔一恞紾棽魛亍榰縜丮，逑丌姺陭堭痶屮撦厹庀。殗曶阢錔馯橕孖一鈌盓圂岥氕疪乇，鄐棔乜玭胘葹苀犮亍帙綷玴毌姃。
            %p 便生這愛育的，如漸病各友父小的點候小麗物很險業後馬不有車理這賽化他玩年美長工完研，可老過，異還也色上於錯定後天克中選建視輪性倒際著到太近商的帶動面不男精聽看、以製孩我指去媽終馬就問病角似是一媽，興下與手；時景好小實，歡因拉要時上特些：度更國為古好和服此所死先寶對、師人樂水成國頭國坡多。計不眼賽景來天應從然機所爸學太隨專轉人結有些受世麼。會家眼氣會想安？朋母光早上中。當明速於路查真習，開洲小。
            %p 立策不種著來她從這這司遠旅都一建，病聲該發目歡得紅西乎身投國：再時頭去西，走四開士需灣風眼告及區上的車如通和型者世洋公打的且去我，日美劇最
            %p 啶一郈脙萏腶亍覝鮀丱，堇丌柦莃媔蛸丌榥丮刌。圠缹狋逑洨鸆瑊筳伬艿娀芓衩侕妧瘃乇狖慛葅。勼砩咇桷厙蠷暊滁奷汜垙忺岰芡囧瘃乜侘褖塱。傝沷奾疀瑏縌伬一幄淔瓟迓仜俬亍，趔臦丌抴恄綔狑刉亍玠廗峌殳戔。丮悝岟盓姝驞鉒筡旯伀苤妏剆妲帊隑兀孢劀楬。卬珒欥眯珂醾鄖楎妅扙牳佖坫彔氙楁丌妺槊煍。勼胹泧圊帡鷾煘葺屼襾哖杈芡佶忣搹屮坰榵葟。詘呿巟褵稗壉阢一菘陱烞盳圣殄乜，嗂猵屮迋牊蒆怢卌丌牬麧拻巿迍。
            %p 傕芛妅篣楏黺忕一揓酕茿炅卌珌乜，暌蛑乜劼柂瑍枒汃屮呺蒻挃尐糽。缿沀吇踽艄璚汒一揨脬胵狚肊牰乜，粲萆亍佹哏嵷抶氿丌迓屣挔勼杬。惎枅艸殫蛵噭襾一菝釷捔芴忉茌丌，裼椏乜迓洀罬帔仡兀怬蝃拫冘枆。紶一洒涽軥葀兀牓篟圠，莣乇柭悆揄痷亍斠夬戉。巿栳杶婒衵醾慉亃网汜峇沇坰冞杙筣丌怓駂睔。頇秅弚螣筣蕖忕一痡偣趵妽刌俇屮，瘏窙丌坻陎楑虮仡乇沷蓛庢圠岥。窔一恞紾棽魛亍榰縜丮，逑丌姺陭堭痶屮撦厹庀。殗曶阢錔馯橕孖一鈌盓圂岥氕疪乇，鄐棔乜玭胘葹苀犮亍帙綷玴毌姃。
            .book-view_tool-bar
              %button.btn.btn-info.btn-sm(type="button")
                %i.fa.fa-star-o.fa-fw
                收藏
              %button.btn.btn-primary.btn-sm(type="button")
                %i.fa.fa-bars.fa-fw
                目錄
              %button.btn.btn-default.btn-sm(type="button") 
                %i.fa.fa-long-arrow-left
                上一頁
              %button.btn.btn-default.btn-sm(type="button") 
                下一頁
                %i.fa.fa-long-arrow-right



  = render 'shared/footer'

= render 'shared/mobile'