%section#mobile-wrapper
  %ul.list-group
    %li.list-group-item.index-nav
      = link_to root_path do 
        %i.fa.fa-home.fa-fw
        首頁
    %li.list-group-item.apply-nav
      = link_to apply_writer_path do
        %i.fa.fa-edit.fa-fw
        作者投稿