= content_for :head do
  <title>申請成為小說王作家 | 小說王網路作家 | APP作家 </title>
  <meta name="description" content="小說王需要有更多作家的參與, 讓網路作家們的作品能給更多的讀者看到與分享, 希望作家們能來投稿, 成為小說王的簽約作家">
  <meta name="keywords" content="小說投稿,網路作家,出書,投稿,出版,出版社,作者,作家,小說王">

#push-container 
  = render 'shared/header'

  .jumbotron
    %h2.text-primary 小說王徵才
    %p.lead 1.Android 工程師
    %p
      %h4.text-info 工作內容
      %h5
        開發小說王Android APP
      %h4.text-info 應徵條件
      %ul
        %li 熟悉 Android
        %li Git
        %li 開發過至少一款 Android APP
      %h4.text-info 加分條件
      %ul
        %li 喜愛閱讀網路小說
        %li Scrum
        %li 寫過 Andriod Test
      %h4.text-info 待遇
      .text-danger NT$ 35000 ~ 80000
      %h4.text-info 如何應徵
      請寄覆歷至:
      = mail_to "stevenko@kosbrother.com"

= render 'shared/mobile'
