#header.navbar.navbar-inverse{:role => "navigation"}
  .container
    .masthead-brand
      = link_to root_path do 
        %h1 小說王
    %ul.nav.masthead-nav
      %li.index-nav
        = link_to "首頁", root_path