%section.left-wrapper.full.col-xs-2.hidden-xs
  %ul.list-group
    %li.list-group-item.list-group-title 小說分類
    %li.list-group-item.active
      %a{:href => "/"} 全部分類
    %li.list-group-item
      %a{:href => "/"} 玄幻奇幻
    %li.list-group-item
      %a{:href => "/"} 仙俠武俠
    %li.list-group-item
      %a{:href => "/"} 遊戲
    %li.list-group-item
      %a{:href => "/"} 競技
    %li.list-group-item
      %a{:href => "/"} 歷史
    %li.list-group-item
      %a{:href => "/"} 軍事
    %li.list-group-item
      %a{:href => "/"} 科幻
    %li.list-group-item
      %a{:href => "/"} 驚悚
    %li.list-group-item
      %a{:href => "/"} 都市
    %li.list-group-item
      %a{:href => "/"} 同人
    %li.list-group-item
      %a{:href => "/"} 女生
 