%section#mobile-wrapper
  %ul.list-group
    %li.list-group-item.active
      %a{:href => "/"} 
        %i.fa.fa-home.fa-fw
        首頁
    %li.list-group-item
      %a{:href => "/"} 
        %i.fa.fa-cubes.fa-fw
        小說分類
    %li.list-group-item
      %a{:href => "/"} 
        %i.fa.fa-thumbs-up.fa-fw
        推薦小說
    %li.list-group-item
      %a{:href => "/"} 
        %i.fa.fa-edit.fa-fw
        作者投稿
    %li.list-group-item
      %a{:href => "/"} 
        %i.fa.fa-users.fa-fw
        加入我們
    %li.list-group-item
      %a{:href => "/"} 
        %i.fa.fa-phone.fa-fw
        聯絡我們
    %li.list-group-item.js-close-menu
      %a{:href => "/"} 
        %i.fa.fa-caret-right.fa-fw
        關閉目錄