.box_item
  .box_img
    = link_to (image_tag novel.pic, :class => "img-responsive"), category_novel_path(novel.category,novel)
  .box_detail
    %h5.title
      = link_to novel.name, category_novel_path(novel.category,novel)
    %h6.author #{novel.author}