#push-container 

  = render 'partial/header'

  %section#page.dark-bg
    .container
      %section.left-wrapper.full.col-xs-2.hidden-xs
        .left-wrapper-top.text-right
          %a#close-sidebar-btn.btn.btn-default.btn-sm.visible-xs(type="button")
            %i.fa.fa-fw.fa-arrow-left
            %span.hidden-sm 收起工具欄
        %ul.list-group
          %li.list-group-item.list-group-title 小說分類
          %li.list-group-item.active
            %a{:href => "/"} 全部分類
          %li.list-group-item
            %a{:href => "/"} 玄幻奇幻
          %li.list-group-item
            %a{:href => "/"} 仙俠武俠
          %li.list-group-item
            %a{:href => "/"} 遊戲
          %li.list-group-item
            %a{:href => "/"} 競技
          %li.list-group-item
            %a{:href => "/"} 歷史
          %li.list-group-item
            %a{:href => "/"} 軍事
          %li.list-group-item
            %a{:href => "/"} 科幻
          %li.list-group-item
            %a{:href => "/"} 驚悚
          %li.list-group-item
            %a{:href => "/"} 都市
          %li.list-group-item
            %a{:href => "/"} 同人
          %li.list-group-item
            %a{:href => "/"} 女生
        %ul.list-group
          %li.list-group-item.list-group-title 另外一個標題
          %li.list-group-item.active
            %a{:href => "/"} 全部分類
          %li.list-group-item
            %a{:href => "/"} 玄幻奇幻
          %li.list-group-item
            %a{:href => "/"} 仙俠武俠
      %section.right-wrapper.full.col-xs-12.col-sm-10
        %ol.breadcrumb.row.full
          %li
            %a{:href => "/"} 首頁
          %li
            %a{:href => "/"} 閱讀小說
        .content
          .content-top
            .tag-bar
              .tag-title
                %span 標簽
              .tag-list
                %ul.list-inline
                  %li
                    %a.active.label.label-primary{:href => "/"} 遊戲
                  %li 
                    %a{:href => "/"} 仙俠武俠
                  %li 
                    %a{:href => "/"} 玄幻奇幻
                  %li 
                    %a{:href => "/"} 都市言情
                  %li 
                    %a{:href => "/"} 科幻小說
                  %li 
                    %a{:href => "/"} 軍事歷史
                  %li 
                    %a{:href => "/"} 少女
            .tag-bar
              .tag-title
                %span 標簽2
              .tag-list
                %ul.list-inline
                  %li
                    %a{:href => "/"} 遊戲
                  %li 
                    %a.active.label.label-primary{:href => "/"} 仙俠武俠
                  %li 
                    %a{:href => "/"} 玄幻奇幻
          .content-body
            .table-responsive
              %table.table
                %thead
                  %tr
                    %th 序號
                    %th 類別
                    %th 小說書名
                    %th 章節
                    %th 作者
                    %th 更新時間
                %tbody
                  %tr
                    %td 1
                    %td 都市生活
                    %td 花都枭雄
                    %td 第3卷 封推感言！
                    %td 蝼蚁望天
                    %td 14-08-20 14:24
                  %tr
                    %td 1
                    %td 都市生活
                    %td 花都枭雄
                    %td 第3卷 封推感言！
                    %td 蝼蚁望天
                    %td 14-08-20 14:24
                  %tr
                    %td 1
                    %td 都市生活
                    %td 花都枭雄
                    %td 第3卷 封推感言！
                    %td 蝼蚁望天
                    %td 14-08-20 14:24
                  %tr
                    %td 1
                    %td 都市生活
                    %td 花都枭雄
                    %td 第3卷 封推感言！
                    %td 蝼蚁望天
                    %td 14-08-20 14:24
                  %tr
                    %td 1
                    %td 都市生活
                    %td 花都枭雄
                    %td 第3卷 封推感言！
                    %td 蝼蚁望天
                    %td 14-08-20 14:24
                  %tr
                    %td 1
                    %td 都市生活
                    %td 花都枭雄
                    %td 第3卷 封推感言！
                    %td 蝼蚁望天
                    %td 14-08-20 14:24
                  %tr
                    %td 1
                    %td 都市生活
                    %td 花都枭雄
                    %td 第3卷 封推感言！
                    %td 蝼蚁望天
                    %td 14-08-20 14:24
                  %tr
                    %td 1
                    %td 都市生活
                    %td 花都枭雄
                    %td 第3卷 封推感言！
                    %td 蝼蚁望天
                    %td 14-08-20 14:24
                  %tr
                    %td 1
                    %td 都市生活
                    %td 花都枭雄
                    %td 第3卷 封推感言！
                    %td 蝼蚁望天
                    %td 14-08-20 14:24
                  %tr
                    %td 1
                    %td 都市生活
                    %td 花都枭雄
                    %td 第3卷 封推感言！
                    %td 蝼蚁望天
                    %td 14-08-20 14:24
                  %tr
                    %td 1
                    %td 都市生活
                    %td 花都枭雄
                    %td 第3卷 封推感言！
                    %td 蝼蚁望天
                    %td 14-08-20 14:24
                  %tr
                    %td 1
                    %td 都市生活
                    %td 花都枭雄
                    %td 第3卷 封推感言！
                    %td 蝼蚁望天
                    %td 14-08-20 14:24
                  %tr
                    %td 1
                    %td 都市生活
                    %td 花都枭雄
                    %td 第3卷 封推感言！
                    %td 蝼蚁望天
                    %td 14-08-20 14:24
                  %tr
                    %td 1
                    %td 都市生活
                    %td 花都枭雄
                    %td 第3卷 封推感言！
                    %td 蝼蚁望天
                    %td 14-08-20 14:24
                  %tr
                    %td 1
                    %td 都市生活
                    %td 花都枭雄
                    %td 第3卷 封推感言！
                    %td 蝼蚁望天
                    %td 14-08-20 14:24
                  %tr
                    %td 1
                    %td 都市生活
                    %td 花都枭雄
                    %td 第3卷 封推感言！
                    %td 蝼蚁望天
                    %td 14-08-20 14:24
                  %tr
                    %td 1
                    %td 都市生活
                    %td 花都枭雄
                    %td 第3卷 封推感言！
                    %td 蝼蚁望天
                    %td 14-08-20 14:24
                  %tr
                    %td 1
                    %td 都市生活
                    %td 花都枭雄
                    %td 第3卷 封推感言！
                    %td 蝼蚁望天
                    %td 14-08-20 14:24
                  %tr
                    %td 1
                    %td 都市生活
                    %td 花都枭雄
                    %td 第3卷 封推感言！
                    %td 蝼蚁望天
                    %td 14-08-20 14:24
                  %tr
                    %td 1
                    %td 都市生活
                    %td 花都枭雄
                    %td 第3卷 封推感言！
                    %td 蝼蚁望天
                    %td 14-08-20 14:24
                  %tr
                    %td 1
                    %td 都市生活
                    %td 花都枭雄
                    %td 第3卷 封推感言！
                    %td 蝼蚁望天
                    %td 14-08-20 14:24
                  %tr
                    %td 1
                    %td 都市生活
                    %td 花都枭雄
                    %td 第3卷 封推感言！
                    %td 蝼蚁望天
                    %td 14-08-20 14:24
                  %tr
                    %td 1
                    %td 都市生活
                    %td 花都枭雄
                    %td 第3卷 封推感言！
                    %td 蝼蚁望天
                    %td 14-08-20 14:24
                  %tr
                    %td 1
                    %td 都市生活
                    %td 花都枭雄
                    %td 第3卷 封推感言！
                    %td 蝼蚁望天
                    %td 14-08-20 14:24
                  %tr
                    %td 1
                    %td 都市生活
                    %td 花都枭雄
                    %td 第3卷 封推感言！
                    %td 蝼蚁望天
                    %td 14-08-20 14:24
                  %tr
                    %td 1
                    %td 都市生活
                    %td 花都枭雄
                    %td 第3卷 封推感言！
                    %td 蝼蚁望天
                    %td 14-08-20 14:24
                  %tr
                    %td 1
                    %td 都市生活
                    %td 花都枭雄
                    %td 第3卷 封推感言！
                    %td 蝼蚁望天
                    %td 14-08-20 14:24

  = render 'partial/footer'

= render 'partial/mobile'