@import              url(http://fonts.googleapis.com/css?family=Noto+Sans:400,700,400italic,700italic);

$navbar-default-bg   : #fff;

$brand-primary       : #1AB6E9;
$brand-success       : #86C166;
$brand-info          : #78C2C4;
$brand-warning       : #FFBA84;
$brand-danger        : #EB7A77;

$list-group-border   : #f5f5f5;
$list-group-active-bg: #fff;

$btn-font-weight     : 300;

$btn-default-border  : #ddd;
$border-radius-small : 2px;
$border-radius-base  : 2px;
$border-radius-large : 2px;

$input-border        : #f5f5f5;
 
$font-family-sans-serif: 'Noto Sans', sans-serif;

$grid-gutter-width   : 24px;

$panel-body-padding  : 25px;